<div class="row clearfix">
    <form class="form-horizontal">
        <div class="form-group alert alert-light">
            <div class="col-md-2 control-label">
                <h4 class="strong">counter:</h4>
            </div>
            <div class="col-md-4">
                <app-counter
                    min="0"
                    max="10"></app-counter>
            </div>
        </div>
        <div class="form-group alert alert-light">
            <div class="col-md-2 control-label">
                <h4 class="strong">search:</h4>
            </div>
            <div class="col-md-4">
               <app-search></app-search>
            </div>
        </div>
    </form>
</div>